name: Run Linux.do Script
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # 每隔6个小时触发一次
  workflow_dispatch: # 允许手动触发 #        wget -O /tmp/chrome.deb https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_$CHROMEDRIVER_VERSION-1_amd64.deb

jobs:
  run-linuxdo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v5


    - name: Install dependencies
      run: |
        pip install --user playwright requests tabulate configparser pydoll-python
        playwright install
        apt install -y gnupg wget iproute2 wkhtmltopdf libx11-xcb1 libdbus-glib-1-2 git tini
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
      
        wget -O /tmp/chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb 
        apt install -y /tmp/chrome.deb

    - name: Run script
      env:
        TZ: Asia/Shanghai  # 设置时区为中国时区
        LINUXDO_USERNAME: ${{ secrets.LINUXDO_USERNAME }}
        LINUXDO_PASSWORD: ${{ secrets.LINUXDO_PASSWORD }}
        LIKE_PROBABILITY: ${{ secrets.LIKE_PROBABILITY }}
        REPLY_PROBABILITY: ${{ secrets.REPLY_PROBABILITY }}
        COLLECT_PROBABILITY: ${{ secrets.COLLECT_PROBABILITY }}
        MAX_TOPICS: ${{ secrets.MAX_TOPICS }}
        USE_WXPUSHER: ${{ secrets.USE_WXPUSHER }}
        APP_TOKEN: ${{ secrets.APP_TOKEN }}
        TOPIC_ID: ${{ secrets.TOPIC_ID }}
      run: |
        python main.py
